@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito', sans-serif;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159, 159, 159);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  background-color: #C0C0C0;
}

.add:hover {
  background-color: #ccd5ae;
}

.price,
.view {
  background-color: #ccd5ae;
}

.logo {
  color: #bcc59e;
}

.category {
  font-family: "Raleway", sans-serif;
  color: #F7F7F7;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 77;
}

.cartItem {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
  z-index: 88;
}

.cardhide {
  display: none;
}
.cartItem .title .icon {
  font-size: 25px;
}

.emptyCard {
  text-align: center;
}

.emptyCard img {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.cartContent {
  margin: 40px 0;
  display: flex;
}

.cartContent .img {
  width: 105px;
  height: 105px;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
}

.cartContent .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 105px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}

.cartContent .remove {
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 17px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.cartContent:hover .img::after,
.cartContent:hover .remove {
  opacity: 1;
  cursor: pointer;
}

.cartContent img {
  width: 100%;
  height: 100%;
}

.cartContent .details label {
  display: block;
  margin: 10px 0;
}

.cartContent .details .qty {
  background-color: #212121;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
}

.cartContent .details button {
  height: 35px;
  width: 35px;
  background-color: #212121;
  color: #fff;
  transition: 0.5s;
}

.cartContent .priceCart {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.cartContent .priceCart .num {
  font-size: 17px;
}

.plus {
  border-radius: 5px 0 0 5px;
}

.minus {
  border-radius: 0 5px 5px 0;
}

.cartContent .details .minus:hover,
.cartContent .details .plus:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.cartContent .price .priceTitle {
  font-size: 15px;
}


@media screen and (max-width: 700px) {
.search,
.like-icon{
  display: none;
}
.detail_img{
  width: 200px;
  height: 200px;
  object-fit: fill;
}
.detail_title{
  font-size: 1.5rem;
}
.detail_desc{
  display: none;
}
.detail_rate,
.detail_count,
.detail_price{
  font-size: 1rem;
}
.inc,
.dec,
.count,
.categories{
  font-size: 1rem;
}
.add_btn{
  width: 150px;
  height: 2rem;
  font-size: 1rem;
  padding: 1rem;

}
.slider-title,
.slider-text,
.slider-btn{
  display: none;
}
.slider{
  width: 100%;
}
.slider_cover{
  width: 900px;
}
.product_field{
  width: 200px;
}
.category{
  padding: 8px;
}
.cartText_field{
  width: 300px;
}
.cart_price,
.cart_count,
.cart_title{
  font-size: 1rem;
}
.cartText_field{
  display: flex;
  justify-content: center;
}
.cartField{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.checkout{
  width: 300px;
}

}